@font-face {
    font-family: BogleWeb;
    src: url(../assets/BogleWeb-Regular.woff2);
}

body {
    font-family: BogleWeb;
    margin: 0 0 0 0;
}

.logo {
   height:100px;
   display:inline-block;
}
 
#header {
    background-color: #0879c9;
    margin-bottom:20px;
}
 
.item {
    width:27%;
    height:300px;
    display:inline-block;
    box-shadow: 2px 2px 2px 2px #eee;
    margin-left: 2%;
    margin-right:2%;
    padding: 1%;
    
    word-wrap: normal;
    border-radius: 20px;
    line-height: 1.5em;
    cursor: pointer;
    overflow-y:scroll;
    overflow-x: hidden;
}


.item:hover {
    box-shadow: 3px 3px 3px 8px #eee;
}

.image {
    height:100px;
    display:inline-block;
}

.bigimage {
    display:inline-block;
}

.msrp {text-decoration: line-through;}
.price {font-weight:bold;}

.name {
    font-weight:bold;
}

.grid {
    width:100%;
    margin-left: 20px;
    margin-right:20px;
}

.searchbox {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    display:inline-block;
    padding:2px;
}

#search_button {
    background : url("Search_icon.png") no-repeat center center;
    border : none;
    color : transparent;
    width:64px;
    height:64px;
    cursor:pointer;
}

#search {
    border-radius: 25px;
    width:90%;
    line-height:2em;
    padding:5px;
}

#back {
    font-size:2em;
    box-shadow: 2px 2px 2px 4px #aaa;
    margin-bottom:30px;
    cursor:pointer;
}

#productDescription {
margin-top:50px;
width:50%;
margin: 0 auto;
}

#products{
margin-bottom:50px;

}
@media only screen and (max-width: 800px) {
    .item {
        height:100%;
        width:93%;
        padding:0px;
        margin: 0 0 0 0 ;
        overflow:visible;
        white-space: initial;
    }
    .bigimage {
        width:100%;
        display:inline-block;
    }
}